/*= GENERAL STYLING
--------------------------------------------------------*/

body{
	margin: 0;
	padding: 0;
	width: 100%;
}

body#nagMeIndex{
	text-align: center;
}

.center { margin: 0 auto; }

section{
	box-sizing: border-box;
	/*border-bottom:solid 1px lightblue;*/
	height: 100vh;
	width: 100vw;
	position:relative;
}


.content{ 
	padding:30px;
	margin: 0 auto;
	max-width:960px;
}

p{
	margin:0;
}

.bottom{
	position:absolute;
	bottom:30px;
	left:0;
	right:0;
	margin:auto;
	padding:0 30px;
}



section img.imgBlock{
	width:100%;
	margin:30% 0;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	/*margin-top:10vh;*/
}



/* NAVIGATION
--------------------------------------------------------*/
nav{
	visibility:hidden;
	position:fixed;
	background-color:#000;
	opacity: 0.5;
	width:100%;
	top:0;
}

/*#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}

#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none;
}

#nav li a.active { 
	color: #fff; 
	opacity:1; 
	border-bottom: 
	2px solid #fff; 
}

#nav li a:hover { 
	color: #fff; 
	opacity:1;  
}*/

/* TYPE STYLING
--------------------------------------------------------*/

h1{
	font-family:'Teko', sans-serif;
	font-weight:400;
	font-size:9vmax;
	margin:0;
	position:relative;
	top:-20px;
}

.bodyCopyLatoLight{
	font-family:'Lato', sans-serif;
	font-weight:300;
	font-size:6.5vmin;
}

.tekoRegular27{
	font-family:'Teko', sans-serif;
	font-weight:400;
	font-size:12vmin;
	line-height:100%;
	text-transform:uppercase;
}

.tekoSemiBold39{
	font-family:'Teko', sans-serif;
	font-weight:600;
	font-size:27pt;
	text-transform:uppercase;
}

.tekoBold45{
	font-family:'Teko', sans-serif;
	font-weight:600;
	text-transform: uppercase;
	font-size:18vmin;
}




/*SLIDE 1*/
/******************************/

#slide1 .tekoStatement{
	font-family:'Teko', sans-serif;
	text-transform: uppercase;
	line-height:100%;
	/*margin-top:15%;*/
	margin-top:5vh;
	font-size:16vmax;
	font-weight:600;
}

#slide1 .tekoStatement span{
	font-size:24vmax;
}

#slide1 .tekoStatement br#slide1Spacing{
	margin-bottom:15px;
}

#slide1 .tekoStatement span#ellipse{
	position:relative;
	top:-30px;
}

#slide1 .content p.bodyCopyLatoLight{
	position:relative;
	top:-30px;
}

#slide1 .bottom{
	position:absolute;
	bottom:0;
	left:47vw;
}

#slide1 img{
	display:none;
	max-width:60px;
	width:7vw;
	height:7vh;
}


	/*SLIDE 1 media queries*/
	/*******************************/

	@media screen and (min-width:480px){

		#slide1 .tekoStatement{
			/*margin-top:0%;*/
			line-height:90%;
		}

		#slide1 .tekoStatement br#slide1ellipseSpacing{
			display:none;
		}

		#slide1 .tekoStatement span#ellipse{
			position:initial;
		}
	}	

	@media screen and (min-width:768px){
		#slide1 .tekoStatement {
			font-size:16vmin;
			margin-top:25vh;
		}

		#slide1 .tekoStatement span{
			font-size:27vmin;
		}
	}

	@media screen and (min-width:1024px){
		#slide1 .tekoStatement {
			margin-top:15vh;
			font-size:18vmin;
		}

		#slide1 .tekoStatement span{
			font-size:30vmin;
		}
	}




/* SLIDE 2 */
/*******************************/


#slide2 .tekoRegular27{
	margin-top:15vh;
	font-size:21vmin;
}

#slide2 a .bodyCopyLatoLight{
	letter-spacing:0.5vw;
}

#slide2 a{
	text-decoration: none;
	color:#000;
}

#slide2 img{
	width:5vw;
	height:5vh;
}

#slide2 .bottom{
	position:absolute;
	bottom:15vh;
	text-align:center;
	left:0;
	right:0;
	margin:auto;
}

	@media screen and (min-width:480px){
		#slide2 .tekoRegular27{
			margin-top:10vh;
		}

		#slide2 .bottom{
			bottom:10vh;
		}
	}

	@media screen and (min-width:641px){
		#slide2 a .bodyCopyLatoLight{
			margin-bottom:15px;
		}
	}




/* SLIDE 3 */
/**********************************/



/* SLIDE 4 */
/*********************************/

#slide4 p span.tekoBold45{
	font-size:18vmin;
	color:red;
}

#slide4 p.tekoRegular27 span{
	font-weight:600;
}

	@media screen and (max-height:360px){
		#slide4 .tekoRegular27{
			font-size:9vmin;
		}

		#slide4 p span.tekoBold45{
			font-size:15vmin;
		}
	}



/* SLIDE 5 */
/**********************************/


/* SLIDE 6 */
/**********************************/



#slide6 p span{
	font-family:'Teko', sans-serif;
	font-size:9vmin;
}

#slide6 .content p:first-child{
	margin-top:10vh;
}

#slide6 p{
	margin-bottom:10vh;
}


/* SLIDE 8 */
/*********************************/

#slide8 p.tekoBold45{
	margin:5vh 0;
}

#slide8 p.tekoBold45 span{
	color:red;
}

	@media screen and (min-width:360px){
		#slide8 .lineBreak{
			display:none;
		}
	}





/* SLIDE 9 */
/*********************************/

#slide9 p{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	top:25vh;
	padding:30px;
}




/* SLIDE 10 */
/*********************************/

#slide10 form input, #slide10 form button{
	display:block;
	width:100%;
}

#slide10 form{
	margin:15% 0px;
}

#slide10 form input{
	border:none;
	border-bottom:solid 1px black;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:12pt;
	margin-top:5%;
	height:30px;
}

#slide10 form input #nagAboutInput{
	color:red;
}

#slide10 form button{
	padding: 5px 0 0;
	margin:15px 0 0;
	width:100%;
	border:none;
	background-color:#000;
	color:#fff;
	font-family: 'Teko', sans-serif;
	font-size:21pt;
	text-transform: uppercase;
}

/* SLIDE BACKGROUND COLORS */
/****************************************/
#slide1{
	background-color:#A2A2D0;
}

#slide2{
	background-color:#6699CC;
}

#slide3{
	background-color:#0D98BA;
}

#slide4{
	background-color:#7366BD;
}

#slide5{
	background-color:#78DBE2;
}

#slide6{
	background-color:#FDD9B5;
}

#slide7{
	background-color:#CD9575;
}

#slide8{
	background-color:#EFDECD;
}

#slide9{
	background-color:#0D98BA;
}

#slide10{
	background-color:#7366BD;
}




/* >640 */
/*******************************/

@media screen and (min-width:641px){
	.bodyCopyLatoLight{
		font-size:1.75em;
	}

	h1{
		font-size:8vmin;
	}

	#slide1 img{
		display:block;
	}
}
